body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c9d9f2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:350px;
}

h1 {
    color: white;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #a1c4fd;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #afc0ff;
}

p {
    margin-top: 20px;

    position: relative;
}

a {
    color: blue;
    text-decoration: none;
}

